.userCard {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    box-sizing: border-box;
    margin: 10px auto;
    padding: 5px;
    height: 120px;
    border-radius: 40px;

    box-shadow: 5px 5px 30px 7px rgb(0, 0, 0), -5px -5px 30px 7px rgb(0, 0, 0);
    transition: 0.4s;
}

.userCard:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(194, 252, 49, 0.32), -5px -5px 30px 15px rgb(0 0 0 / 65%);
    cursor: pointer;
}

.userCard .card_title {
    text-align: center;
    border-radius: 0 0 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: gold;
    word-break: break-word;
}

.card_title h3 {
    margin: 4px;
}

.userItem {
    width: 30%;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .userItem {
        width: 80%;
    }
}