.userInfo {
    display: flex;
    flex-wrap: nowrap;

    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

.buttonInfo {
    text-align: right;
    position: absolute;
    right: 10px;
    top: 5px;
}

.buttonInfo button {
    width: 25px;
    height: 25px;

    font-size: 18px;
    font-weight: 500;
    color: #c7a708;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;

    background: linear-gradient(135deg, #f0b7a1 0%, #8c3310 36%, #752201 51%, #bf6e4e 100%);
}

.buttonInfo button:hover {
    font-weight: 700;
    box-shadow: 5px 5px 30px 7px rgb(73, 96, 26), -5px -5px 30px 7px rgb(37, 75, 22);
    transition: 0.4s;
}

.userDescription {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 55%;

    color: gold;
    font-style: italic;
    font-size: 12px;
    box-sizing: border-box;
    padding-left: 20px;
    margin-left: 20px;
    background-color: rgba(166, 169, 166, 0.3);
    text-align: left;
}

.userDescription h3 {
    background-color: rgba(166, 169, 166, 0.3);
    width: 84%;
    margin: 3px;
    padding: 5px;
}

.userDescription div {
    margin-left: 20px;
    background-color: rgba(166, 169, 166, 0.3);
    width: 60%;
    text-align: left;
}

.userDetail {
    box-shadow: 5px 5px 30px 7px rgb(17, 36, 84), -5px -5px 30px 7px rgb(15, 29, 80);
    transition: 0.4s;

    position: fixed;
    min-width: 90%;
    min-height: 80%;
    word-break: break-word;
    max-width: 30%;
    z-index: 2;

    background: linear-gradient(135deg, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #000000 100%, #131313 100%);
}

.userPostsList {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 20px;
}